<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />

<meta name="ctx" th:content="@{/}" />

<title>Test Static Files</title>

</head>
<body>
	<div class="container">



		<h1>Login</h1>
		<div class="row no-gutters mt-3">
			<div class="col columna-banner">
				<img class="img-fluid rounded login-banner-image"
					th:src="@{/static/assets/imgs/fake-image.png}" />
			</div>
		</div>
		<div class="row no-gutters mt-3">
			<div class="col columna-banner">
				<img class="img-fluid rounded login-banner-image"
					th:src="@{/assets/fake-image.png}" />
			</div>
		</div>
	</div>
</body>
</html>

